@font-face {
    font-family: Merriweather;
    src: url('MerriweatherSans-Light.ttf');
    font-weight: 400;
}

* {
    background-color: #000;
    color: #fff;
    font-family: Merriweather, Inter, Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}

.filters, .sort {
  padding: 0 0 10px 0;
}

label, select {
  padding: 5px;
}

.filters, .filter, .sort {
  display: flex;
  align-items: center;
}

.vl {
  margin: 0 1em;
  height: 100%;
  border-right: #9A9A9A 2px; /* #EEEEEE */
}

.table {
  flex-grow: 1;
  overflow-y: auto;
}

table {
  border-spacing: 0;
}

thead th {
  position: sticky;
  top: 0px;
}

th, td {
  padding: 5px;
  border: 1px solid #fff;
}