@font-face {
    font-family: Merriweather;
    src: url('MerriweatherSans-Light.ttf');
    font-weight: 400;
}

* {
    background-color: #000;
    color: #fff;
    font-family: Merriweather, Inter, Arial, Helvetica, sans-serif;
}

.sort, label, select, table, th, td {
  padding: 5px;
}

table, th, td {
  border: 1px solid #fff;
}

table {
  border-collapse: collapse;
}